<h1>Здравствуй, <%= @name %></h1>
<p>Текущее время <%= formated_time(@time) %></p>
<p>Эта страница была просмотрена <%= @times_displayed %> <%= @time %></p>

<p><%= link_to "Google", "https://www.google.com" %></p>
<p><%= link_to "Goodbay", "greeter_goodbay" %></p>
